<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="newrepo.css">
    <link rel="shortcut icon" href="titlelogo.svg" type="image/x-icon">
    <link rel="stylesheet" href="newrepo.css">
    <title>New Repository</title>
</head>
<body>
    <!-- creating a new repository -->
    <h1>New Repository</h1>
    <form action="/newrepo" method="post">
        <input type="text" name="reponame" placeholder="Repository Name">
        <input type="text" name="authorname" placeholder="Author's Name">
        <textarea id="input" name="description" placeholder="Description" cols="46" rows="5"></textarea>
        <input id="submit" type="submit" value="Submit">
    
    </form>
</body>
</html>